<h3>
  <i class="icon-pencil"></i> <%= @examination.name %> Questions
</h3>
<table class="table table-hover table-striped">
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <th><%= question.caption %></th>
        <td><%= question.description %></td>
        <td>
          <%= link_to [@examination, question], class: 'btn btn-primary' do %>
            <i class="icon-pencil"></i> 解答
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>
<%= simple_form_for [:complete_examination, @examination], html: {class: 'form-holizonal', method: :put} do |f| %>
  <%= button_tag class: 'btn btn-primary btn-large' do %>
    <i class="icon-pencil icon-white"></i> 終了する
  <% end %>
<% end %>

