<h3><i class="icon-pencil"></i> <%= @question.caption %></h3>
<h4><%= @question.description %></h4>
<hr />
<%= form_tag [:admin, :examinations], method: :get do %>
  <ol>
    <% @question.question_choices.each do |choice| %>
      <li>
        <p>
          <%= label @question.id, choice.id, class: 'radio' do %>
            <%= radio_button_tag @question.id, choice.id %>
            <%= choice.caption %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ol>
  <%= button_tag type: :submit, class: 'btn btn-primary btn-large' do%>
    <i class="icon-ok"></i> 解答する
  <% end %>
<% end %>