<%= link_to '一覧に戻る', :admin_users %> | <%= link_to "編集する", [:edit, :admin, @user] %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>gender</th>
      <td><%= @user.gender.caption %></td>
    </tr>
    <tr>
      <th>email</th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%= link_to [:admin, @user], method: :delete,
    class: "btn btn-danger", confirm: "本当に削除しますか？" do %>
  <i class="icon-trash icon-white"></i> 削除する
<% end %>
