<div id="examinations" class="abc">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@search, :name, Examination.human_attribute_name('name')) %></th>
        <th><%= sort_link(@search, :start_at, Examination.human_attribute_name('start_at')) %></th>
        <th><%= sort_link(@search, :end_at, Examination.human_attribute_name('end_at')) %></th>
      </tr>
    </thead>
    <% @examinations.each do |examination| %>
      <tbody>
        <tr>
          <td><%= link_to examination.name, examination %></td>
          <td><%= l examination.start_at, format: :default %></td>
          <td><%= l examination.end_at, format: :default %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate @examinations, remote: true %>
</div>
